In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator as op
import warnings
warnings.filterwarnings(action = 'ignore')
from IPython.display import display
seed = 21

In [2]:
df = pd.read_csv("Dataset1.csv")

In [3]:
df.drop("Unnamed: 0", axis = 1, inplace=True)

In [4]:
df["User_ID"] = df["User_ID"].astype("string")

In [5]:
df

,User_ID,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,ID_000H9XOP,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,22.0
1,ID_003YJHQA,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,12.0
2,ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,6.0,1.5,-0.5,-0.5,14.0
3,ID_008D2J6C,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,10.0,9.0,0.0,0.0,7.0
4,ID_00ETFE7J,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,1.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12408,ID_ZZMHNLNT,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
12409,ID_ZZQK0LU6,1.0,0.0,29.0,1.5,0.0,13.5,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,134.0,2.0,0.0,3.0,29.0
12410,ID_ZZUNZJ2U,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,30.0
12411,ID_ZZVM2KO7,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
12412,ID_ZZVUJ45W,1.0,0.0,5.0,1.0,7.0,4.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,0.0,5.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12413 entries, 0 to 12412
Data columns (total 45 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   User_ID                          12413 non-null  string
 1   Participant_Type                 12413 non-null  float64
 2   Successful_Submission_Count      12413 non-null  float64
 3   Comp_participation_day           12413 non-null  float64
 4   FeatureA                         12413 non-null  float64
 5   FeatureB                         12413 non-null  float64
 6   FeatureC                         12413 non-null  float64
 7   FeatureD                         12413 non-null  float64
 8   FeatureE                         12413 non-null  float64
 9   SecretCode                       12413 non-null  float64
 10  FeatureF                         12413 non-null  float64
 11  FeatureG                         12413 non-null  float64
 12  FeatureH                         12413 non-null  float64
 13  FeatureI                         12413 non-null  float64
 14  Country_ID                       12413 non-null  float64
 15  competition_ended_month          12413 non-null  float64
 16  competition_started_month        12413 non-null  float64
 17  Day_last_active                  12413 non-null  float64
 18  Downloaded_Competition_Datafile  12413 non-null  float64
 19  Viewed_All_Discussions           12413 non-null  float64
 20  Confirmed_Email                  12413 non-null  float64
 21  Joined_Competition               12413 non-null  float64
 22  Signed_Up                        12413 non-null  float64
 23  Viewed_All_Competitions          12413 non-null  float64
 24  Viewed_All_Learning_Pages        12413 non-null  float64
 25  badge_OCZE                       12413 non-null  float64
 26  create_alias                     12413 non-null  float64
 27  identify                         12413 non-null  float64
 28  comp_ID                          12413 non-null  float64
 29  Signed_In                        12413 non-null  float64
 30  job_ID                           12413 non-null  float64
 31  Updated_Discussion               12413 non-null  float64
 32  Viewed_All_Jobs                  12413 non-null  float64
 33  Created_Submission               12413 non-null  float64
 34  Signed_Out                       12413 non-null  float64
 35  Updated_Profile                  12413 non-null  float64
 36  blog_ID                          12413 non-null  float64
 37  Viewed_Discussion                12413 non-null  float64
 38  Updated_Submission               12413 non-null  float64
 39  badge_HYIO                       12413 non-null  float64
 40  count_UA                         12413 non-null  float64
 41  Day_duration                     12413 non-null  float64
 42  FeatureX                         12413 non-null  float64
 43  FeatureY                         12413 non-null  float64
 44  User_sign-in_day                 12413 non-null  float64
dtypes: float64(44), string(1)
memory usage: 4.3 MB

In [7]:
temp = df.copy()

In [8]:
len(temp["User_ID"].unique())

12413

In [9]:
temp = temp.sort_values("User_ID")

In [10]:
temp

,User_ID,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,ID_000H9XOP,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,22.0
1,ID_003YJHQA,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,12.0
2,ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,6.0,1.5,-0.5,-0.5,14.0
3,ID_008D2J6C,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,10.0,9.0,0.0,0.0,7.0
4,ID_00ETFE7J,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,1.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12408,ID_ZZMHNLNT,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
12409,ID_ZZQK0LU6,1.0,0.0,29.0,1.5,0.0,13.5,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,134.0,2.0,0.0,3.0,29.0
12410,ID_ZZUNZJ2U,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,30.0
12411,ID_ZZVM2KO7,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
12412,ID_ZZVUJ45W,1.0,0.0,5.0,1.0,7.0,4.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,0.0,5.0

In [11]:
temp1 = temp.groupby

## Test and Train Split

In [12]:
SampleSubmission = pd.read_csv("SampleSubmission.csv")

In [13]:
SampleSubmission["User_ID_Next_month_Activity"] = SampleSubmission.User_ID_Next_month_Activity.str.replace('_Month_5', '')

In [14]:
len(SampleSubmission["User_ID_Next_month_Activity"].unique())

1340

In [15]:
SampleSubmission.rename(columns={'User_ID_Next_month_Activity': 'User_ID'},  inplace = True)

In [16]:
df_test = pd.merge(SampleSubmission, temp, on='User_ID',  how='inner')

In [17]:
df_test.drop("Active", inplace=True, axis=1)

In [18]:
df_test

,User_ID,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,ID_4TOXNBGB,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,24.0
1,ID_CHFTIP26,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0
2,ID_FU5GMWLQ,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,10.0,1.0,0.0,1.0,13.0
3,ID_254TVBQP,1.0,0.0,23.0,1.0,14.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0
4,ID_4ENO2VFE,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,1.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,ID_PI8N2KJX,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,4.0,0.0,0.0,0.0,0.0,24.0,1.0,0.0,0.0,12.0
1336,ID_L9AHTUD7,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,1.0,0.0,0.0,0.0,0.0,19.0,8.0,0.0,0.0,13.0
1337,ID_BB7GLV87,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,15.0
1338,ID_WB6O1NFS,1.0,0.0,7.0,5.0,15.0,10.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,24.0,14.0,0.0,1.0,7.0
1339,ID_99LD9C1B,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,6.0,0.0,0.0,0.0,0.0,14.0,1.0,0.0,0.0,1.0

In [19]:
df_train = temp[~temp.User_ID.isin(df_test.User_ID)].reset_index(drop=True)

In [20]:
df_train

,User_ID,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,ID_000H9XOP,0.000000,0.0,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,...,0.0,0.0,0.0,0.0,0.0,6.000000,5.0,0.000000,1.000000,22.000000
1,ID_004UKSJV,0.000000,0.0,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,...,2.0,0.0,0.0,0.0,0.0,6.000000,1.5,-0.500000,-0.500000,14.000000
2,ID_008D2J6C,0.000000,0.0,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,...,2.0,0.0,0.0,0.0,0.0,10.000000,9.0,0.000000,0.000000,7.000000
3,ID_00ETFE7J,0.000000,0.0,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,...,0.0,1.0,0.0,0.0,0.0,10.000000,10.0,0.000000,0.000000,6.000000
4,ID_00RKDLAX,0.000000,0.0,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,...,1.0,0.0,0.0,0.0,0.0,5.000000,1.0,-0.500000,0.000000,11.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11068,ID_ZZHDXC1Q,0.000000,0.0,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,...,0.0,0.0,0.0,0.0,0.0,8.000000,1.0,0.000000,0.000000,27.000000
11069,ID_ZZJKFBR5,0.333333,0.0,2.666667,-0.333333,-0.333333,3.666667,-0.333333,0.0,-0.666667,...,0.0,0.0,0.0,0.0,0.0,15.333333,2.0,-0.666667,-0.333333,2.666667
11070,ID_ZZQK0LU6,1.000000,0.0,29.000000,1.500000,0.000000,13.500000,0.000000,2.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,134.000000,2.0,0.000000,3.000000,29.000000
11071,ID_ZZUNZJ2U,0.000000,0.0,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,...,0.0,0.0,0.0,0.0,0.0,12.000000,1.0,0.000000,0.000000,30.000000
11072,ID_ZZVUJ45W,1.000000,0.0,5.000000,1.000000,7.000000,4.000000,1.000000,1.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,52.000000,1.0,0.000000,0.000000,5.000000

## Activity based features

In [21]:
df_crit = pd.read_csv("CriteriaData.csv")

In [22]:
df_crit.drop("Unnamed: 0", axis = 1, inplace=True)

In [23]:
df_crit

          User_ID  Active
0     ID_ZZVUJ45W     0.0
1     ID_ZZUNZJ2U     0.0
2     ID_ZZQK0LU6     0.0
3     ID_ZZHDXC1Q     0.0
4     ID_ZYVA36JR     1.0
...           ...     ...
5231  ID_01BEG5HQ     1.0
5232  ID_011YM9VH     1.0
5233  ID_00SL0NNP     0.0
5234  ID_00ETFE7J     0.0
5235  ID_008D2J6C     0.0

[5236 rows x 2 columns]

In [24]:
df_train = pd.merge(df_train, df_crit, on='User_ID',  how='left').fillna(0)

In [25]:
test_IDs = df_test["User_ID"].values

In [26]:
test_IDs

array(['ID_4TOXNBGB', 'ID_CHFTIP26', 'ID_FU5GMWLQ', ..., 'ID_BB7GLV87',
       'ID_WB6O1NFS', 'ID_99LD9C1B'], dtype=object)

In [27]:
test_IDs = test_IDs + "_Month_5"

In [28]:
df_train.drop("User_ID", inplace=True, axis=1)

In [29]:
df_train.drop("badge_HYIO", inplace=True, axis=1)

In [30]:
df_test.drop("User_ID", inplace=True, axis=1)

In [31]:
df_test.drop("badge_HYIO", inplace=True, axis=1)

In [32]:
df_train.to_csv("trainFinal.csv")

In [33]:
df_test.to_csv("testFinal.csv")

## Model Training

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
import operator as op
import time

In [35]:
y = df_train["Active"]

In [36]:
my_cols = set(df_train.columns)
my_cols.remove('Active')
X = df_train[my_cols]

In [37]:
for column in X:
    X[column] = X[column] / X[column].abs().max()

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12, shuffle=True)

## Logistic Regression

In [40]:
from sklearn.linear_model import LogisticRegression

In [137]:
start = time.time()
clf = LogisticRegression(random_state=0, max_iter=40).fit(X_train, y_train)
end = time.time()

In [138]:
print(end - start)

0.08347129821777344

In [139]:
y_p = clf.predict(X_test)

In [146]:
op.countOf(y_p, 1)

812

In [152]:
accuracy_score(y_test, y_p)

0.9491873589164785

In [151]:
f1_score(y_test, y_p)

0.4968525896414343

In [143]:
y_predict = clf.predict(df_test)

In [145]:
op.countOf(y_predict, 1)

472

## KNN

In [64]:
from sklearn.neighbors import KNeighborsClassifier

In [76]:
start = time.time()
neigh = KNeighborsClassifier(n_neighbors=10).fit(X_train, y_train)
end = time.time()

In [77]:
print(end - start)

0.00564885139465332

In [67]:
y_pred = neigh.predict(X_test)

In [148]:
op.countOf(y_pred, 1)

401

In [69]:
accuracy_score(y_test, y_pred)

0.9327313769751693

In [71]:
f1_score(y_test, y_pred)

0.48442906574394456

In [72]:
y_predict = neigh.predict(df_test)

In [147]:
op.countOf(y_predict, 1)

114

## SVM

In [74]:
from sklearn.svm import SVC

In [78]:
start = time.time()
clf1 = SVC(kernel='rbf', gamma='scale').fit(X_train, y_train)
end = time.time()

In [79]:
print(end - start)

1.059035301208496

In [80]:
y_pred = clf1.predict(X_test)

In [149]:
op.countOf(y_pred, 1)

114

In [82]:
accuracy_score(y_test, y_pred)

0.9300225733634312

In [83]:
f1_score(y_test, y_pred)

0.3568464730290456

In [84]:
y_predict = clf1.predict(df_test)

In [150]:
op.countOf(y_predict, 1)

63

## Random Forest

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
clf2 = RandomForestClassifier(n_estimators=15).fit(X_train, y_train)

In [51]:
from sklearn.model_selection import RandomizedSearchCV

In [52]:
n_estimators = [int(x) for x in np.linspace(start = 80, stop = 2000, num = 10)]
max_features = ['sqrt', 'log2']
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4]

In [53]:
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

In [54]:
rf_random = RandomizedSearchCV(estimator = clf2, param_distributions = random_grid, 
                               n_iter = 10, cv = 3, verbose=2, random_state=42, n_jobs = -1)

In [55]:
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

RandomizedSearchCV(cv=3, estimator=RandomForestClassifier(n_estimators=15),
                   n_jobs=-1,
                   param_distributions={'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['sqrt', 'log2'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [80, 293, 506, 720, 933,
                                                         1146, 1360, 1573, 1786,
                                                         2000]},
                   random_state=42, verbose=2)

In [56]:
rf_random.best_params_

{'n_estimators': 933,
 'min_samples_split': 2,
 'min_samples_leaf': 2,
 'max_features': 'sqrt',
 'max_depth': 80}

In [57]:
start = time.time()
clf2 = RandomForestClassifier(n_estimators=933, min_samples_split=2, 
                              min_samples_leaf=2, max_features='sqrt', 
                              max_depth=80).fit(X_train, y_train)
end = time.time()

In [58]:
y_p1 = clf2.predict(X_test)

In [59]:
op.countOf(y_p1, 1)

116

In [60]:
accuracy_score(y_test, y_p1)

0.9376975169300226

In [61]:
f1_score(y_test, y_p1)

0.5460526315789473

In [62]:
y_predict1 = clf2.predict(df_test)

In [63]:
op.countOf(y_predict1, 1)

0

## Submission

In [69]:
df_sub = pd.DataFrame()

In [70]:
df_sub["User_ID_Next_month_Activity"] = test_IDs

In [71]:
df_sub["Active"] = y_predict

In [72]:
sample = pd.read_csv("sample.csv")

In [73]:
sample

     User_ID_Next_month_Activity  Active
0            ID_4TOXNBGB_Month_5     0.0
1            ID_CHFTIP26_Month_5     0.0
2            ID_FU5GMWLQ_Month_5     0.0
3            ID_254TVBQP_Month_5     0.0
4            ID_4ENO2VFE_Month_5     0.0
...                          ...     ...
1335         ID_PI8N2KJX_Month_5     0.0
1336         ID_L9AHTUD7_Month_5     0.0
1337         ID_BB7GLV87_Month_5     0.0
1338         ID_WB6O1NFS_Month_5     1.0
1339         ID_99LD9C1B_Month_5     0.0

[1340 rows x 2 columns]

In [74]:
df_sub = pd.merge(sample, df_sub, on="User_ID_Next_month_Activity", how="inner")

In [82]:
df_sub

     User_ID_Next_month_Activity  Active
0            ID_4TOXNBGB_Month_5       0
1            ID_CHFTIP26_Month_5       0
2            ID_FU5GMWLQ_Month_5       0
3            ID_254TVBQP_Month_5       1
4            ID_4ENO2VFE_Month_5       0
...                          ...     ...
1335         ID_PI8N2KJX_Month_5       1
1336         ID_L9AHTUD7_Month_5       0
1337         ID_BB7GLV87_Month_5       0
1338         ID_WB6O1NFS_Month_5       1
1339         ID_99LD9C1B_Month_5       0

[1340 rows x 2 columns]

In [83]:
df_sub.to_csv('submission3.csv', index=False)