In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator as op
import warnings
warnings.filterwarnings(action = 'ignore')

In [3]:
df = pd.read_csv("DataLast.csv")

In [4]:
df.drop("Unnamed: 0", axis = 1, inplace=True)

In [5]:
df["User_ID"] = df["User_ID"].astype("string")

In [6]:
df

,User_ID,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,ID_000H9XOP_Month_5,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,22.0
1,ID_003YJHQA_Month_4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,12.0
2,ID_004UKSJV_Month_1,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,-1.0,0.0
3,ID_004UKSJV_Month_12,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,4.0,0.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,28.0
4,ID_008D2J6C_Month_1,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,10.0,9.0,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17357,ID_ZZMHNLNT_Month_4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
17358,ID_ZZQK0LU6_Month_3,1.0,0.0,29.0,1.5,0.0,13.5,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,134.0,2.0,0.0,3.0,29.0
17359,ID_ZZUNZJ2U_Month_2,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,30.0
17360,ID_ZZVM2KO7_Month_4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
17361,ID_ZZVUJ45W_Month_3,1.0,0.0,5.0,1.0,7.0,4.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,0.0,5.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17362 entries, 0 to 17361
Data columns (total 45 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   User_ID                          17362 non-null  string
 1   Participant_Type                 17362 non-null  float64
 2   Successful_Submission_Count      17362 non-null  float64
 3   Comp_participation_day           17362 non-null  float64
 4   FeatureA                         17362 non-null  float64
 5   FeatureB                         17362 non-null  float64
 6   FeatureC                         17362 non-null  float64
 7   FeatureD                         17362 non-null  float64
 8   FeatureE                         17362 non-null  float64
 9   SecretCode                       17362 non-null  float64
 10  FeatureF                         17362 non-null  float64
 11  FeatureG                         17362 non-null  float64
 12  FeatureH                         17362 non-null  float64
 13  FeatureI                         17362 non-null  float64
 14  Country_ID                       17362 non-null  float64
 15  competition_ended_month          17362 non-null  float64
 16  competition_started_month        17362 non-null  float64
 17  Day_last_active                  17362 non-null  float64
 18  Downloaded_Competition_Datafile  17362 non-null  float64
 19  Viewed_All_Discussions           17362 non-null  float64
 20  Confirmed_Email                  17362 non-null  float64
 21  Joined_Competition               17362 non-null  float64
 22  Signed_Up                        17362 non-null  float64
 23  Viewed_All_Competitions          17362 non-null  float64
 24  Viewed_All_Learning_Pages        17362 non-null  float64
 25  badge_OCZE                       17362 non-null  float64
 26  create_alias                     17362 non-null  float64
 27  identify                         17362 non-null  float64
 28  comp_ID                          17362 non-null  float64
 29  Signed_In                        17362 non-null  float64
 30  job_ID                           17362 non-null  float64
 31  Updated_Discussion               17362 non-null  float64
 32  Viewed_All_Jobs                  17362 non-null  float64
 33  Created_Submission               17362 non-null  float64
 34  Signed_Out                       17362 non-null  float64
 35  Updated_Profile                  17362 non-null  float64
 36  blog_ID                          17362 non-null  float64
 37  Viewed_Discussion                17362 non-null  float64
 38  Updated_Submission               17362 non-null  float64
 39  badge_HYIO                       17362 non-null  float64
 40  count_UA                         17362 non-null  float64
 41  Day_duration                     17362 non-null  float64
 42  FeatureX                         17362 non-null  float64
 43  FeatureY                         17362 non-null  float64
 44  User_sign-in_day                 17362 non-null  float64
dtypes: float64(44), string(1)
memory usage: 6.0 MB

In [8]:
temp = df.copy()

In [9]:
temp["User_ID"].str[18:]

0         5
1         4
2         1
3        12
4         1
         ..
17357     4
17358     3
17359     2
17360     4
17361     3
Name: User_ID, Length: 17362, dtype: string

In [10]:
temp["Month"] = temp["User_ID"].str[18:]
temp["Month"] = pd.to_numeric(temp["Month"])

In [11]:
temp["User_ID"] = temp["User_ID"].str[0:11]

In [12]:
temp

,User_ID,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,...,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day,Month
0,ID_000H9XOP,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,22.0,5
1,ID_003YJHQA,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,12.0,4
2,ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,-1.0,0.0,1
3,ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,28.0,12
4,ID_008D2J6C,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,10.0,9.0,0.0,0.0,7.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17357,ID_ZZMHNLNT,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0,4
17358,ID_ZZQK0LU6,1.0,0.0,29.0,1.5,0.0,13.5,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,134.0,2.0,0.0,3.0,29.0,3
17359,ID_ZZUNZJ2U,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,30.0,2
17360,ID_ZZVM2KO7,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,4
17361,ID_ZZVUJ45W,1.0,0.0,5.0,1.0,7.0,4.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,52.0,1.0,0.0,0.0,5.0,3

In [13]:
months = np.array([1, 2, 3, 4, 5, 11, 12])

In [14]:
df_month1 = temp[temp["Month"]==1]
df_month2 = temp[temp["Month"]==2]
df_month3 = temp[temp["Month"]==3]
df_month4 = temp[temp["Month"]==4]
df_month5 = temp[temp["Month"]==5]
df_month11 = temp[temp["Month"]==11]
df_month12 = temp[temp["Month"]==12]

In [15]:
df_month1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3771 entries, 2 to 17354
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   User_ID                          3771 non-null   string
 1   Participant_Type                 3771 non-null   float64
 2   Successful_Submission_Count      3771 non-null   float64
 3   Comp_participation_day           3771 non-null   float64
 4   FeatureA                         3771 non-null   float64
 5   FeatureB                         3771 non-null   float64
 6   FeatureC                         3771 non-null   float64
 7   FeatureD                         3771 non-null   float64
 8   FeatureE                         3771 non-null   float64
 9   SecretCode                       3771 non-null   float64
 10  FeatureF                         3771 non-null   float64
 11  FeatureG                         3771 non-null   float64
 12  FeatureH                         3771 non-null   float64
 13  FeatureI                         3771 non-null   float64
 14  Country_ID                       3771 non-null   float64
 15  competition_ended_month          3771 non-null   float64
 16  competition_started_month        3771 non-null   float64
 17  Day_last_active                  3771 non-null   float64
 18  Downloaded_Competition_Datafile  3771 non-null   float64
 19  Viewed_All_Discussions           3771 non-null   float64
 20  Confirmed_Email                  3771 non-null   float64
 21  Joined_Competition               3771 non-null   float64
 22  Signed_Up                        3771 non-null   float64
 23  Viewed_All_Competitions          3771 non-null   float64
 24  Viewed_All_Learning_Pages        3771 non-null   float64
 25  badge_OCZE                       3771 non-null   float64
 26  create_alias                     3771 non-null   float64
 27  identify                         3771 non-null   float64
 28  comp_ID                          3771 non-null   float64
 29  Signed_In                        3771 non-null   float64
 30  job_ID                           3771 non-null   float64
 31  Updated_Discussion               3771 non-null   float64
 32  Viewed_All_Jobs                  3771 non-null   float64
 33  Created_Submission               3771 non-null   float64
 34  Signed_Out                       3771 non-null   float64
 35  Updated_Profile                  3771 non-null   float64
 36  blog_ID                          3771 non-null   float64
 37  Viewed_Discussion                3771 non-null   float64
 38  Updated_Submission               3771 non-null   float64
 39  badge_HYIO                       3771 non-null   float64
 40  count_UA                         3771 non-null   float64
 41  Day_duration                     3771 non-null   float64
 42  FeatureX                         3771 non-null   float64
 43  FeatureY                         3771 non-null   float64
 44  User_sign-in_day                 3771 non-null   float64
 45  Month                            3771 non-null   int64
dtypes: float64(44), int64(1), string(1)
memory usage: 1.4 MB

In [16]:
df_month1.drop("Month", inplace=True, axis=1)
df_month2.drop("Month", inplace=True, axis=1)
df_month3.drop("Month", inplace=True, axis=1)
df_month4.drop("Month", inplace=True, axis=1)
df_month5.drop("Month", inplace=True, axis=1)
df_month11.drop("Month", inplace=True, axis=1)
df_month12.drop("Month", inplace=True, axis=1)

In [17]:
names1 = df_month1.columns
names1 = names1.astype("string")
names1 = names1 + "1"
df_month1.columns = names1

names2 = df_month2.columns
names2 = names2.astype("string")
names2 = names2 + "2"
df_month2.columns = names2

names3 = df_month3.columns
names3 = names3.astype("string")
names3 = names3 + "3"
df_month3.columns = names3

names4 = df_month4.columns
names4 = names4.astype("string")
names4 = names4 + "4"
df_month4.columns = names4

names5 = df_month5.columns
names5 = names5.astype("string")
names5 = names5 + "5"
df_month5.columns = names5

names11 = df_month11.columns
names11 = names11.astype("string")
names11 = names11 + "11"
df_month11.columns = names11

names12 = df_month12.columns
names12 = names12.astype("string")
names12 = names12 + "12"
df_month12.columns = names12

In [18]:
df_month12

,User_ID12,Participant_Type12,Successful_Submission_Count12,Comp_participation_day12,FeatureA12,FeatureB12,FeatureC12,FeatureD12,FeatureE12,SecretCode12,...,Updated_Profile12,blog_ID12,Viewed_Discussion12,Updated_Submission12,badge_HYIO12,count_UA12,Day_duration12,FeatureX12,FeatureY12,User_sign-in_day12
3,ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,4.0,0.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,28.0
7,ID_00RKDLAX,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,9.0,1.0,0.0,1.0,23.0
9,ID_00XHYSFF,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,1.0,0.0,0.0,0.0,0.0,7.0,1.0,0.0,0.0,24.0
13,ID_015M2NE1,1.0,0.0,27.0,1.0,9.0,2.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,39.0,1.0,0.0,1.0,27.0
15,ID_0190Y8K7,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,3.0,0.0,0.0,0.0,0.0,10.0,1.0,0.0,0.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17303,ID_ZV8F7M7F,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,7.0,2.0,0.0,0.0,30.0
17322,ID_ZWPDZMDT,1.0,0.0,2.0,2.5,0.0,6.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,1.0,0.0,0.0,2.0
17323,ID_ZWQZQHGR,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
17349,ID_ZZ852GLE,1.0,0.0,6.0,1.0,1.0,13.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,57.0,5.0,0.0,0.0,6.0
17355,ID_ZZJKFBR5,1.0,0.0,8.0,1.0,1.0,13.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,43.0,4.0,0.0,1.0,8.0

In [19]:
df_month1 = df_month1.rename(columns={"User_ID1":"User_ID"})
df_month2 = df_month2.rename(columns={"User_ID2":"User_ID"})
df_month3 = df_month3.rename(columns={"User_ID3":"User_ID"})
df_month4 = df_month4.rename(columns={"User_ID4":"User_ID"})
df_month5 = df_month5.rename(columns={"User_ID5":"User_ID"})
df_month11 = df_month11.rename(columns={"User_ID11":"User_ID"})
df_month12 = df_month12.rename(columns={"User_ID12":"User_ID"})

In [20]:
result1 = pd.merge(df_month1, df_month2, how="outer", on="User_ID", )

In [21]:
result1 = result1.drop_duplicates(subset="User_ID")

In [22]:
result2 = pd.merge(result1, df_month3, how="outer", on="User_ID")

In [23]:
result2 = result2.drop_duplicates(subset="User_ID")

In [24]:
result3 = pd.merge(result2, df_month4, how="outer", on="User_ID")

In [25]:
result3 = result3.drop_duplicates(subset="User_ID")

In [26]:
result4 = pd.merge(result3, df_month5, how="outer", on="User_ID")

In [27]:
result4 = result4.drop_duplicates(subset="User_ID")

In [28]:
result5 = pd.merge(result4, df_month11, how="outer", on="User_ID")

In [29]:
result5 = result5.drop_duplicates(subset="User_ID")

In [30]:
result = pd.merge(result5, df_month12, how="outer", on="User_ID")

In [31]:
result = result.drop_duplicates(subset="User_ID")

In [32]:
result = result.sort_values("User_ID").reset_index()

In [33]:
result.drop("index", inplace=True, axis=1)

In [34]:
result

,User_ID,Participant_Type1,Successful_Submission_Count1,Comp_participation_day1,FeatureA1,FeatureB1,FeatureC1,FeatureD1,FeatureE1,SecretCode1,...,Updated_Profile12,blog_ID12,Viewed_Discussion12,Updated_Submission12,badge_HYIO12,count_UA12,Day_duration12,FeatureX12,FeatureY12,User_sign-in_day12
0,ID_000H9XOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID_003YJHQA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,4.0,0.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,28.0
3,ID_008D2J6C,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ID_00ETFE7J,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12408,ID_ZZMHNLNT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12409,ID_ZZQK0LU6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12410,ID_ZZUNZJ2U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12411,ID_ZZVM2KO7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12412,ID_ZZVUJ45W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
result["User_ID"].unique()

<StringArray>
['ID_000H9XOP', 'ID_003YJHQA', 'ID_004UKSJV', 'ID_008D2J6C', 'ID_00ETFE7J',
 'ID_00RKDLAX', 'ID_00SL0NNP', 'ID_00XHYSFF', 'ID_011YM9VH', 'ID_015M2NE1',
 ...
 'ID_ZZ852GLE', 'ID_ZZCQMX2B', 'ID_ZZFZI3DK', 'ID_ZZHDXC1Q', 'ID_ZZJKFBR5',
 'ID_ZZMHNLNT', 'ID_ZZQK0LU6', 'ID_ZZUNZJ2U', 'ID_ZZVM2KO7', 'ID_ZZVUJ45W']
Length: 12413, dtype: string

In [37]:
result.count_UA1.fillna(0, inplace=True)
result.count_UA2.fillna(0, inplace=True)
result.count_UA3.fillna(0, inplace=True)
result.count_UA4.fillna(0, inplace=True)
result.count_UA5.fillna(0, inplace=True)
result.count_UA11.fillna(0, inplace=True)
result.count_UA12.fillna(0, inplace=True)

In [38]:
result

,User_ID,Participant_Type1,Successful_Submission_Count1,Comp_participation_day1,FeatureA1,FeatureB1,FeatureC1,FeatureD1,FeatureE1,SecretCode1,...,Updated_Profile12,blog_ID12,Viewed_Discussion12,Updated_Submission12,badge_HYIO12,count_UA12,Day_duration12,FeatureX12,FeatureY12,User_sign-in_day12
0,ID_000H9XOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,ID_003YJHQA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,4.0,0.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,28.0
3,ID_008D2J6C,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,ID_00ETFE7J,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12408,ID_ZZMHNLNT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
12409,ID_ZZQK0LU6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
12410,ID_ZZUNZJ2U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
12411,ID_ZZVM2KO7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
12412,ID_ZZVUJ45W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [39]:
result.columns[result.isna().any()].tolist()

['Participant_Type1',
 'Successful_Submission_Count1',
 'Comp_participation_day1',
 'FeatureA1',
 'FeatureB1',
 'FeatureC1',
 'FeatureD1',
 'FeatureE1',
 'SecretCode1',
 'FeatureF1',
 'FeatureG1',
 'FeatureH1',
 'FeatureI1',
 'Country_ID1',
 'competition_ended_month1',
 'competition_started_month1',
 'Day_last_active1',
 'Downloaded_Competition_Datafile1',
 'Viewed_All_Discussions1',
 'Confirmed_Email1',
 'Joined_Competition1',
 'Signed_Up1',
 'Viewed_All_Competitions1',
 'Viewed_All_Learning_Pages1',
 'badge_OCZE1',
 'create_alias1',
 'identify1',
 'comp_ID1',
 'Signed_In1',
 'job_ID1',
 'Updated_Discussion1',
 'Viewed_All_Jobs1',
 'Created_Submission1',
 'Signed_Out1',
 'Updated_Profile1',
 'blog_ID1',
 'Viewed_Discussion1',
 'Updated_Submission1',
 'badge_HYIO1',
 'Day_duration1',
 'FeatureX1',
 'FeatureY1',
 'User_sign-in_day1',
 'Participant_Type2',
 'Successful_Submission_Count2',
 'Comp_participation_day2',
 'FeatureA2',
 'FeatureB2',
 'FeatureC2',
 'FeatureD2',
 'FeatureE2',
 'SecretCode2',
 'FeatureF2',
 'FeatureG2',
 'FeatureH2',
 'FeatureI2',
 'Country_ID2',
 'competition_ended_month2',
 'competition_started_month2',
 'Day_last_active2',
 'Downloaded_Competition_Datafile2',
 'Viewed_All_Discussions2',
 'Confirmed_Email2',
 'Joined_Competition2',
 'Signed_Up2',
 'Viewed_All_Competitions2',
 'Viewed_All_Learning_Pages2',
 'badge_OCZE2',
 'create_alias2',
 'identify2',
 'comp_ID2',
 'Signed_In2',
 'job_ID2',
 'Updated_Discussion2',
 'Viewed_All_Jobs2',
 'Created_Submission2',
 'Signed_Out2',
 'Updated_Profile2',
 'blog_ID2',
 'Viewed_Discussion2',
 'Updated_Submission2',
 'badge_HYIO2',
 'Day_duration2',
 'FeatureX2',
 'FeatureY2',
 'User_sign-in_day2',
 'Participant_Type3',
 'Successful_Submission_Count3',
 'Comp_participation_day3',
 'FeatureA3',
 'FeatureB3',
 'FeatureC3',
 'FeatureD3',
 'FeatureE3',
 'SecretCode3',
 'FeatureF3',
 'FeatureG3',
 'FeatureH3',
 'FeatureI3',
 'Country_ID3',
 'competition_ended_month3',
 'competition_started_month3',
 'Day_last_active3',
 'Downloaded_Competition_Datafile3',
 'Viewed_All_Discussions3',
 'Confirmed_Email3',
 'Joined_Competition3',
 'Signed_Up3',
 'Viewed_All_Competitions3',
 'Viewed_All_Learning_Pages3',
 'badge_OCZE3',
 'create_alias3',
 'identify3',
 'comp_ID3',
 'Signed_In3',
 'job_ID3',
 'Updated_Discussion3',
 'Viewed_All_Jobs3',
 'Created_Submission3',
 'Signed_Out3',
 'Updated_Profile3',
 'blog_ID3',
 'Viewed_Discussion3',
 'Updated_Submission3',
 'badge_HYIO3',
 'Day_duration3',
 'FeatureX3',
 'FeatureY3',
 'User_sign-in_day3',
 'Participant_Type4',
 'Successful_Submission_Count4',
 'Comp_participation_day4',
 'FeatureA4',
 'FeatureB4',
 'FeatureC4',
 'FeatureD4',
 'FeatureE4',
 'SecretCode4',
 'FeatureF4',
 'FeatureG4',
 'FeatureH4',
 'FeatureI4',
 'Country_ID4',
 'competition_ended_month4',
 'competition_started_month4',
 'Day_last_active4',
 'Downloaded_Competition_Datafile4',
 'Viewed_All_Discussions4',
 'Confirmed_Email4',
 'Joined_Competition4',
 'Signed_Up4',
 'Viewed_All_Competitions4',
 'Viewed_All_Learning_Pages4',
 'badge_OCZE4',
 'create_alias4',
 'identify4',
 'comp_ID4',
 'Signed_In4',
 'job_ID4',
 'Updated_Discussion4',
 'Viewed_All_Jobs4',
 'Created_Submission4',
 'Signed_Out4',
 'Updated_Profile4',
 'blog_ID4',
 'Viewed_Discussion4',
 'Updated_Submission4',
 'badge_HYIO4',
 'Day_duration4',
 'FeatureX4',
 'FeatureY4',
 'User_sign-in_day4',
 'Participant_Type5',
 'Successful_Submission_Count5',
 'Comp_participation_day5',
 'FeatureA5',
 'FeatureB5',
 'FeatureC5',
 'FeatureD5',
 'FeatureE5',
 'SecretCode5',
 'FeatureF5',
 'FeatureG5',
 'FeatureH5',
 'FeatureI5',
 'Country_ID5',
 'competition_ended_month5',
 'competition_started_month5',
 'Day_last_active5',
 'Downloaded_Competition_Datafile5',
 'Viewed_All_Discussions5',
 'Confirmed_Email5',
 'Joined_Competition5',
 'Signed_Up5',
 'Viewed_All_Competitions5',
 'Viewed_All_Learning_Pages5',
 'badge_OCZE5',
 'create_alias5',
 'identify5',
 'comp_ID5',
 'Signed_In5',
 'job_ID5',
 'Updated_Discussion5',
 'Viewed_All_Jobs5',
 'Created_Submission5',
 'Signed_Out5',
 'Updated_Profile5',
 'blog_ID5',
 'Viewed_Discussion5',
 'Updated_Submission5',
 'badge_HYIO5',
 'Day_duration5',
 'FeatureX5',
 'FeatureY5',
 'User_sign-in_day5',
 'Participant_Type11',
 'Successful_Submission_Count11',
 'Comp_participation_day11',
 'FeatureA11',
 'FeatureB11',
 'FeatureC11',
 'FeatureD11',
 'FeatureE11',
 'SecretCode11',
 'FeatureF11',
 'FeatureG11',
 'FeatureH11',
 'FeatureI11',
 'Country_ID11',
 'competition_ended_month11',
 'competition_started_month11',
 'Day_last_active11',
 'Downloaded_Competition_Datafile11',
 'Viewed_All_Discussions11',
 'Confirmed_Email11',
 'Joined_Competition11',
 'Signed_Up11',
 'Viewed_All_Competitions11',
 'Viewed_All_Learning_Pages11',
 'badge_OCZE11',
 'create_alias11',
 'identify11',
 'comp_ID11',
 'Signed_In11',
 'job_ID11',
 'Updated_Discussion11',
 'Viewed_All_Jobs11',
 'Created_Submission11',
 'Signed_Out11',
 'Updated_Profile11',
 'blog_ID11',
 'Viewed_Discussion11',
 'Updated_Submission11',
 'badge_HYIO11',
 'Day_duration11',
 'FeatureX11',
 'FeatureY11',
 'User_sign-in_day11',
 'Participant_Type12',
 'Successful_Submission_Count12',
 'Comp_participation_day12',
 'FeatureA12',
 'FeatureB12',
 'FeatureC12',
 'FeatureD12',
 'FeatureE12',
 'SecretCode12',
 'FeatureF12',
 'FeatureG12',
 'FeatureH12',
 'FeatureI12',
 'Country_ID12',
 'competition_ended_month12',
 'competition_started_month12',
 'Day_last_active12',
 'Downloaded_Competition_Datafile12',
 'Viewed_All_Discussions12',
 'Confirmed_Email12',
 'Joined_Competition12',
 'Signed_Up12',
 'Viewed_All_Competitions12',
 'Viewed_All_Learning_Pages12',
 'badge_OCZE12',
 'create_alias12',
 'identify12',
 'comp_ID12',
 'Signed_In12',
 'job_ID12',
 'Updated_Discussion12',
 'Viewed_All_Jobs12',
 'Created_Submission12',
 'Signed_Out12',
 'Updated_Profile12',
 'blog_ID12',
 'Viewed_Discussion12',
 'Updated_Submission12',
 'badge_HYIO12',
 'Day_duration12',
 'FeatureX12',
 'FeatureY12',
 'User_sign-in_day12']

In [40]:
result.fillna(-1, inplace=True)

## Train and Test Split

In [41]:
df_sample = pd.read_csv("SampleSubmission.csv")

In [42]:
df_sample

     User_ID_Next_month_Activity  Active
0            ID_4TOXNBGB_Month_5       0
1            ID_CHFTIP26_Month_5       0
2            ID_FU5GMWLQ_Month_5       0
3            ID_254TVBQP_Month_5       0
4            ID_4ENO2VFE_Month_5       0
...                          ...     ...
1335         ID_PI8N2KJX_Month_5       0
1336         ID_L9AHTUD7_Month_5       0
1337         ID_BB7GLV87_Month_5       0
1338         ID_WB6O1NFS_Month_5       0
1339         ID_99LD9C1B_Month_5       0

[1340 rows x 2 columns]

In [43]:
df_sample["User_ID_Next_month_Activity"] = df_sample.User_ID_Next_month_Activity.str.replace('_Month_5', '')

In [44]:
len(df_sample["User_ID_Next_month_Activity"].unique())

1340

In [45]:
df_sample.rename(columns={'User_ID_Next_month_Activity': 'User_ID'},  inplace = True)

In [46]:
df_sample

          User_ID  Active
0     ID_4TOXNBGB       0
1     ID_CHFTIP26       0
2     ID_FU5GMWLQ       0
3     ID_254TVBQP       0
4     ID_4ENO2VFE       0
...           ...     ...
1335  ID_PI8N2KJX       0
1336  ID_L9AHTUD7       0
1337  ID_BB7GLV87       0
1338  ID_WB6O1NFS       0
1339  ID_99LD9C1B       0

[1340 rows x 2 columns]

In [47]:
df_sample["User_ID"] = df_sample["User_ID"].astype("string")

In [48]:
df_sample.loc[0, "User_ID"]

'ID_4TOXNBGB'

In [49]:
df_sample["User_ID"]

0       ID_4TOXNBGB
1       ID_CHFTIP26
2       ID_FU5GMWLQ
3       ID_254TVBQP
4       ID_4ENO2VFE
           ...
1335    ID_PI8N2KJX
1336    ID_L9AHTUD7
1337    ID_BB7GLV87
1338    ID_WB6O1NFS
1339    ID_99LD9C1B
Name: User_ID, Length: 1340, dtype: string

In [50]:
df_test = pd.merge(df_sample, result, on='User_ID',  how='inner')

In [51]:
df_test.drop("Active", inplace=True, axis=1)

In [52]:
df_test

,User_ID,Participant_Type1,Successful_Submission_Count1,Comp_participation_day1,FeatureA1,FeatureB1,FeatureC1,FeatureD1,FeatureE1,SecretCode1,...,Updated_Profile12,blog_ID12,Viewed_Discussion12,Updated_Submission12,badge_HYIO12,count_UA12,Day_duration12,FeatureX12,FeatureY12,User_sign-in_day12
0,ID_4TOXNBGB,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
1,ID_CHFTIP26,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
2,ID_FU5GMWLQ,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
3,ID_254TVBQP,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
4,ID_4ENO2VFE,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,ID_PI8N2KJX,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
1336,ID_L9AHTUD7,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
1337,ID_BB7GLV87,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
1338,ID_WB6O1NFS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
1339,ID_99LD9C1B,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0

In [53]:
df_train = result[~result.User_ID.isin(df_test.User_ID)].reset_index(drop=True)

In [54]:
df_train

,User_ID,Participant_Type1,Successful_Submission_Count1,Comp_participation_day1,FeatureA1,FeatureB1,FeatureC1,FeatureD1,FeatureE1,SecretCode1,...,Updated_Profile12,blog_ID12,Viewed_Discussion12,Updated_Submission12,badge_HYIO12,count_UA12,Day_duration12,FeatureX12,FeatureY12,User_sign-in_day12
0,ID_000H9XOP,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
1,ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,4.0,0.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,28.0
2,ID_008D2J6C,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
3,ID_00ETFE7J,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
4,ID_00RKDLAX,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,9.0,1.0,0.0,1.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11068,ID_ZZHDXC1Q,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
11069,ID_ZZJKFBR5,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,43.0,4.0,0.0,1.0,8.0
11070,ID_ZZQK0LU6,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
11071,ID_ZZUNZJ2U,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
11072,ID_ZZVUJ45W,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0

## Criteria

In [56]:
df_crit = pd.read_csv("CriteriaData.csv")

In [58]:
df_crit.drop("Unnamed: 0", axis = 1, inplace=True)

In [59]:
df_crit

          User_ID  Active
0     ID_ZZVUJ45W     0.0
1     ID_ZZUNZJ2U     0.0
2     ID_ZZQK0LU6     0.0
3     ID_ZZHDXC1Q     0.0
4     ID_ZYVA36JR     1.0
...           ...     ...
5231  ID_01BEG5HQ     1.0
5232  ID_011YM9VH     1.0
5233  ID_00SL0NNP     0.0
5234  ID_00ETFE7J     0.0
5235  ID_008D2J6C     0.0

[5236 rows x 2 columns]

In [60]:
df_train = pd.merge(df_train, df_crit, on='User_ID',  how='left').fillna(0)

In [68]:
df_train.drop("User_ID", inplace=True, axis=1)

In [69]:
df_train

,Participant_Type1,Successful_Submission_Count1,Comp_participation_day1,FeatureA1,FeatureB1,FeatureC1,FeatureD1,FeatureE1,SecretCode1,FeatureF1,...,blog_ID12,Viewed_Discussion12,Updated_Submission12,badge_HYIO12,count_UA12,Day_duration12,FeatureX12,FeatureY12,User_sign-in_day12,Active
0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0
1,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,28.0,0.0
2,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0
3,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0
4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,9.0,1.0,0.0,1.0,23.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11068,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0
11069,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,43.0,4.0,0.0,1.0,8.0,0.0
11070,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0
11071,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0
11072,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0

## Model Building

In [62]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.linear_model import LogisticRegression
import operator as op

In [70]:
df_temp = df_train.copy()

In [71]:
y = df_temp["Active"]

In [72]:
my_cols = set(df_temp.columns)
my_cols.remove('Active')
X = df_temp[my_cols]

In [73]:
for column in X:
    X[column] = X[column] / X[column].abs().max()

In [74]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=12, shuffle=True)

In [75]:
clf = LogisticRegression(random_state=0).fit(train_X, train_y)

In [76]:
y_p = clf.predict(test_X)

In [77]:
op.countOf(y_p, 1)

187

In [78]:
accuracy_score(test_y, y_p)

0.9959367945823928

In [79]:
f1_score(test_y, y_p)

0.9760000000000001

In [80]:
df_test.drop("User_ID", inplace=True, axis=1)

In [81]:
for column in df_test:
    df_test[column] = df_test[column] / df_test[column].abs().max()

In [82]:
df_test.fillna(0, inplace=True)

In [83]:
y_predict = clf.predict(df_test)

In [84]:
op.countOf(y_predict, 1)

0